/* ====== General ====== */
.destinos-page {
    font-family: 'Clear Sans', sans-serif;
    background-color: #f9fafc;
  }
  
  .destinos-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
  }
  
  /* ====== Sección de Destinos ====== */
  .destinos-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .destinos-section .tour-slider {
    margin-top: 20px;
  }

  /* ====== Preguntas Frecuentes ====== */
  .faqs-section {
    padding: 30px 0;
  }
  
  .faqs-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  