/* src/styles/ImageBackground.css */

.image-background-wrapper {
    position: relative;
    height: 350px; /* Ajusta según sea necesario */
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  
  /* Efecto de superposición (oscurecer ligeramente la imagen) */
  .image-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 38, 89, 0.42); /* Azul con opacidad */
    z-index: 1;
  }
  
  /* Texto sobre la imagen */
  .image-background-text {
    position: absolute;
    z-index: 2;
    text-align: left;
    padding-left: 50px; /* Ajusta según el diseño */
    color: #ffffff;
  }
  
  .image-background-text h1 {
    padding-top: 14%;
    font-size: 3.0rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .image-background-text p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .image-background-text {
      text-align: center;
      padding: 0 20px;
    }
  
    .image-background-text h1 {
      font-size: 2rem;
    }
  
    .image-background-text p {
      font-size: 1rem;
    }
  }
  