.faq-container {
  max-width: 1200px;
  margin: 0 auto 60px;
}

.faq-question {
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
}

.faq-question h4{
  font-size: 22px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.question-header:hover {
  background-color: #eaeaea;
}

.question-content {
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden; 
  max-height: 0; 
  padding: 0 20px; 
  transition: max-height 0.5s ease, padding 0.5s ease;
  font-size: 18px;
  color: #494949;
}

.question-content.open {
  padding: 10px 20px 15px; /* Aumenta el padding cuando está abierto */
  transition: max-height 0.5s ease, padding 0.5s ease;
}
