:root {
  --color-primario: #002e5d;
  --color-primario-oscuro: #0c7464;
  --color-primario-oscuro-oscuro: #0A5D50;
  --color-secundario: rgb(21, 108, 162);
  --color-secundario-oscuro: rgb(16, 79, 119);
  --color-azulito: #2f95c9;
  --color-verde-amarillo: #b9df64;
  --color-verde-curiosito: #48a87a;
  --color-verde-gris: #b0d0cf;
}

@font-face {
  font-family: 'Mulan';
  src: url('./fonts/Mulan/Mulan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('./fonts/ClearSans/ClearSans-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('./fonts/ClearSans/ClearSans-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Segoe UI Emoji';
  src: url('./fonts/Segoe-UI-Emoji_FontYukle/Segoe\ UI\ Emoji.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Clear Sans', sans-serif;
  letter-spacing: 3px;
}

h1 span {
  font-family: 'Segoe UI Emoji', sans-serif;
  letter-spacing: 7px;
}

h2 {
  font-family: 'Segoe UI Emoji', sans-serif;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Clear Sans', sans-serif;
  letter-spacing: 1.5px;
}

h4, h5, h6, span, p{
  font-family: 'Segoe UI Emoji', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  transition: background-color 0.3s ease;
}

.App.darkened {
  background-color: rgba(19, 19, 19, 0.5);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.todoheader {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 0 0 90px 0;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slider-top {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.text-overlay h1 {
  line-height: 80px !important;
  font-weight: bold;
  text-align: right;
  letter-spacing: -3px;
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.text-overlay h1 span {
  opacity: 0.5;
}

.swiper-slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.slider-container {
  margin-top: 920px; /* Igual a la altura del header */
}


.wave-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.text-overlay {
  position: absolute;
  color: white;
  padding: 20px;
}

.top-left {
  top: 20%;
  left: 10%;
}

.top-right {
  top: 15%;
  right: 10%;
}

.bottom-left {
  bottom: 10%;
  left: 10%;
}

.bottom-right {
  bottom: 10%;
  right: 10%;
}

.center h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-overlay h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, color 0.3s ease;
}

.App .swiper-button-next,
.App .swiper-button-prev {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: transparent;
  color: rgba(255, 255, 255, 1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.bg-shadow {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 -10px 30px -10px rgba(0, 0, 0, 0.4),
    0 10px 30px -10px rgba(0, 0, 0, 0.4);
}

.bg-inner-shadow {
  background-color: #f0f0f0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 3%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 3%);
}

.full-width-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.responsive-image {
  width: 100%;
  max-width: 580px;
  height: auto;
  object-fit: cover;
  margin: 20px auto 0;
}

@media (max-width: 768px) {
  .text-overlay h1 {
    font-size: 60px !important;
    line-height: 55px !important;
  }

  .text-overlay h1 span {
    font-size: 40px;
  }

  .top-left,
  .bottom-left {
    left: 5%;
  }

  .top-right,
  .bottom-right {
    right: 5%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .text-overlay h1 {
    font-size: 40px !important;
    line-height: 35px !important;
  }

  .text-overlay h1 span {
    font-size: 25px;
  }

  .top-left,
  .bottom-left {
    left: 5%;
  }

  .top-right,
  .bottom-right {
    right: 5%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 14px;
  }

  .bg-shadow {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.image-background-content {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  * {
    max-width: 100vw;
  }

  .contact {
    width: 90%;
  }

  .topheader-background {
    width: 100vw;
  }

  .topheadercontent {
    width: 90%;
    align-items: start;
    margin: 0;
  }

  .header {
    padding: 10px 0;
    width: 98%;
  }

  .contact li {
    list-style: none;
    padding-right: 0;
    margin-right: 0;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
  }

  .contact {
    margin: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .topheader {
    padding: 10px;
  }

  .contact,
  .redes {
    flex-wrap: wrap;
  }

  .hide-on-mobile {
    display: none;
  }

  .footer-logo-principal {
    margin-left: 0;
  }
}
